.wellcome-message{
  text-align: left;
  color: aliceblue;
  font-style: oblique;
  height: 750px;
  width: 100%
}

@media all and (max-width:320px){
  .wellcome-message{
    height: 550px;
  }
}

.wellcome-message img{
  width: 100%;
  height: 100%;
  position: absolute;
}

.wellcome-message .text-part{
  position: relative;
  padding-left: 5em;
  padding-top: 15em;
}

.aboutUs{
  padding: 2em;

  text-align: justify;
  background: white;
}

.aboutUs h2{
  text-align: center;
  font-style: italic;
}

hr{
  border: 2px solid rgb(175, 110, 48);
  width: 10em;
}

.contact{
  padding: 2em;
 
  background: white;
}

.services{
  padding: 2em;
  

}

@media all and (max-width: 760px) {
 .cards{
   flex-flow: column;
   flex-direction: column;
   flex-wrap: wrap;
 }
}



.cards{
width:100%;
display: flex;
align-content: space-between;
}

.card{
  width: 33%;
  border: none;
  margin: 0.5em;
}

@media all and (max-width: 760px) {
 .card{
   width: 100%;
 }
}

.card-header{
  background-color: white;
  border: none;
}

.card-body{
  text-align: justify;
}

.card-footer{
  border: none;
  font-size: 3em;
  background: white;
  color: rgb(255, 206, 148);
  
}
  
.contact .box{
  width: 100%;
  display: flex;
  justify-content: center;
}

.fields{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
 
}

.field{
  width: 97%;
}

.half{
  width: 48%;
  flex-shrink: 0;
  margin: 0.2em;
}

.half input,
.field textarea{
  display: block;
  width: 100%;
  padding: 0.65em 0.75em;
  background: none;
  border: solid 1px rgb(175, 110, 48);
  color: inherit;
  border-radius: 0.5em;
  outline: none;
  margin: 0.1em;
}

.btn{
  height: 35px;
    padding: 5px;
    margin: 1rem;
    background: rgb(175, 110, 48);
    border: none;
    border-radius: 0.2em;
    color: white;
  
}

@media all and (max-width: 320px) {
  .half,
  .field{
    width: 100%;
  }
 
}
